/* navabar */

.cus-logo{
    margin-left: 50px;
} 

.custom-color{
    color: black;
}
/* sec-1-start */
.one{
    background-color:navajowhite;
}
h1{
    font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
}